extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Unohditko salasanan?
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p Kirjoita email osotteesi alle ja lähetämme sinulle salasanan nollausohjeet.
        label.control-label(for='email') Sähköposti
        input.form-control(type='email', name='email', id='email', placeholder='Sähköposti', autofocus, required)
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-key
          | Nollaa salasana
