extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Nollaa salasana
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(for='password') Uusi salasana
        input.form-control(type='password', name='password', id='password', placeholder='Uusi salasana', autofocus, required)
      .form-group
        label(for='confirm') Vahvista uusi salasana
        input.form-control(type='password', name='confirm', id='confirm', placeholder='Vahvista uusi salasana', required)
      .form-group
        button.btn.btn-primary.btn-reset(type='submit')
          i.fa.fa-keyboard-o
          | Vaihda salasana
