extends ../layout

block content
  .page-header
    h3 Rekisteröidy
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Sähköposti
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Sähköposti', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Salasana
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Salasana', required)
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Vahvista salasana
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Vahvista salasana', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Rekisteröidy
