extends layout

block content
  h2 Käyttö
  p Avaa armory-sivu
  h2 Ylläpito
  p Rekisteröidy sivustolle ja odota että tilillesi lisätään ylläpito-oikeudet. Pääset sen jälkeen lisäämään/poistamaan pelaajia rosterista. 
  